# Configuración de base de datos
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/alpespartners_dijs
RECREATE_DB=false  # Si es true, elimina y recrea las tablas al iniciar (PERDERÁS TODOS LOS DATOS)
                   # También se puede configurar directamente en docker-compose.yml

# Configuración de Redis
REDIS_URL=redis://localhost:6379

# Configuración de aplicación
APP_NAME=AlpesPartners DIJS
APP_VERSION=1.0.0
DEBUG=true
ENVIRONMENT=development

# Configuración de API
API_HOST=0.0.0.0
API_PORT=8000

# Configuración de eventos
EVENTOS_TOPICO_AFILIADOS=afiliados
EVENTOS_TOPICO_CAMPAnAS=campanas

# Configuración de logging
LOG_LEVEL=INFO
